<!DOCTYPE html>
<html lang="es">
<meta name="robots" content="noindex">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JS Bin</title>
</head>

<body>
    {{nombre}}
    <input type="text" v-model="nuevaTarea" placeholder="Introduce nueva tarea">
    <input type="submit" value="Añadir tarea" @click="guardarTarea(nuevaTarea)">
    <h4>Tareas</h4>
    <ul v-for="tarea in tareas">
        <li><a href="#" @click="eliminarTarea(tarea)">X </a></href>{{tarea.nombre}}</li>
    </ul>
    <pre>
    {{$data | json}}
    </pre>
    <script type="text/css" src="css/estilos.css"></script>
    <script type="text/javascript" src="js/javaScript.js"></script>
</body>

</html>